*.prefs
*~
*swp
.buildpath
._.DS_Store
.DS_Store
**/.DS_Store
.project
.settings
docs/.*.m
**/xcuserdata
**/PHPUnit_Extensions_Story_TestCase.php
.settings/*
node_modules
bower_components
bower.json
gulpfile.js
/nbproject/*
public/sight/.DS_Store
.gitignore
.DS_Store
.idea
public/JSProtected/feedback/app/resource/video/Storm.mov
.tmp
public/.DS_Store
.docker
vendor
protected/runtime